.card {
  padding: var(--space-2xs) var(--space-xs);
  display: flex;
  flex-direction: column;
  width: 100%;

  & .dateInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

  & .date {
    font-size: var(--step--2);
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

  & .divider {
    font-size: var(--step--2);
    font-weight: 400;
    line-height: 1.875;
    color: #666;
}

  & .status {
    font-size: var(--step--2);
    font-weight: 400;
    line-height: 1.6;
    color: #666;
}

}

.outcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.teamInfo {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  flex: 1;
}

.logoWrapper {
  width: 40px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.namesWrap {
  display: flex;
  flex-direction: column;

  & .teamName {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--primary);
}

  & .opponentWrapper {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

  & .vs {
    font-size: var(--step--1);
    font-weight: 400;
    line-height: 1.2;
    color: #666;
}

  & .opponentName {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #262628;
}
}



.scoreWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & .score {
    font-size: var(--step--1);
    font-weight: 700;
    line-height:1.4;
    color: var(--primary);
}

  & .opponentScore {
    font-size: var(--step--1);
    font-weight: 400;
    line-height: 1.4;
    color: #000;
}

}



