.grid{
display: grid;
min-height: auto;
grid-template-columns: 1fr;
grid-auto-rows: auto;
gap: var(--space-s);
}

.grid > * {
    min-width: 0; /* Prevents grid items from overflowing */
    overflow-wrap: break-word; /* Allows long text to wrap */
}

@media (min-width: 991px) {
    .grid {
        grid-template-columns: 2fr 1fr;
    }
}

.heading{
font-size: var(--text-l);
font-weight: 700;
border-bottom: 5px solid var(--primary);
}

/* Banner Section */

.mediaWrapper{
    background-color: var(--primary);
    border-radius: var(--radius);

    & .backgroundImage{
        width: 100%;
        height: 20rem;
        object-fit: cover;
        object-position: top;
        z-index: var(--z-overlay);
        opacity: 0.1;
    }

}

.logoWrapper{
    left:var(--space-xl);
	bottom:var(--space-xl);
	display:flex;
	z-index: var(--z-sticky);
	position:absolute;
	justify-content:center;

    & .logo{
       height:5rem;
	object-fit:cover;
    }
}

